<h1>genres
<a href="/genres/add" class="btn btn-success pull-right">Add Genre</a>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- loop through the breeds to post them here -->
    <tr>
      <td>Name</td>
      <td>
        <a href="/genres/edit" class="btn btn-default">Edit</a>
        <a href="#" class="btn btn-danger delete-genre">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
