<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Puppy Love</title>
 <!-- Bootswatch Yeti -->
 <link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css">
<!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="./css/style.css">
    </head>
  <body>


    {{> header}}
      <!-- Sidebar -->
      <div class="container">
        <div class="row">

          <!-- Sidebar Menu -->
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="/puppies">View Puppies</a></li>
              <!-- <li class="list-group-item"><a href="/genres">View Genres</a></li> -->
            </ul>
          </div>
          <!-- End of Sidebar Menu -->

          <div class="col-md-9">
            <!-- Flash Messages -->
            {{#if success_msg}}
            <div class="alert alert-success">
              {{success_msg}}
            </div>
            {{/if}}
            {{#if error_msg}}
            <div class="alert alert-danger">
              {{error_msg}}
            </div>
            {{/if}} <!-- End of Flash Messages -->

            <!-- Body of the rest of the application -->
              {{{body}}}

            </div>
          </div>
        </div> <!-- End of Sidebar -->
    {{> footer}}
<!-- jQuery CDN -->
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Bootstrap JS  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
