<!-- Display the initial homepage -->
<div>
  <h1>Puppies will come soon.</h1>
  <ul>
  {{#each puppies}}
    <li>Name: {{this.name}}</li>
    <li>Breed: {{this.breed}}</li>
    <li>Gender: {{this.gender}}</li>
  {{/each}}
  </ul>
</div>
