<div class="container"> <!-- Sidebar -->
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><a href="/puppies">View Puppies</a></li>
        <li class="list-group-item"><a href="/puppies/new">Post Puppy</a></li>
      </ul>
    </div>
    <div class="col-md-9">

    </div>
  </div>
</div>
