<h1>Add Puppy</h1>
<form enctype="multipart/form-data" action="/puppies/new" method="post">
  <!-- Puppy's Name -->
  <div class="form-group">
    <label>Puppy Name</label>
    <input type="text" class="form-control" name="name" placeholder="Puppy's Name">
  </div>
  <!-- Other form inputs to get... -->
  ...
  <!-- Puppy Images Upload -->
  <div class="form-group">
    <label>Puppy Images</label>
    <input type="file" class="form-control" name="image">
  </div>
  <!-- Submit the form input -->
  <button type="submit" class="btn btn-default">Post</button>
  <!-- Close button to go back  -->
  <a href="/puppies" class="btn btn-danger">Close</a>

</form>
