<div class="col-md-4">
  <div class="card">
    <img class="" src={{puppy.path}} style="width:100%">
    <h1 class="">{{puppy.name}}</h1>
    <p class="title">{{puppy.breed}}Breed</p>
    <p>{{puppy.location}}Location</p>
  <div style="margin: 24px 0">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-snapchat"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>

  </div>
</div>
