<header>
  <nav class="navbar navbar-inverse">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Puppy Love</a>
      </div>
              <form action="/search">
                <input type="search" placeholder="Search"  name="term">
                <button type="submit"></button>
              </form>

      <!-- Navbar side menu -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
      <!-- End of Navbar -->

    </div>
  </nav>
</header>

{{!-- 
      //- SEARCH
      form.form-inline(action='/search')
      input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search' name='term')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search --}}